.row {
  margin: 0 auto;
}

.btn-large {
  margin: 10px;
  width: 80%;
}

.alert-error {
  padding: 8px;
  background-color: red;
  color: white;
}

.card {
  height: 480px;
}

.card i {
  line-height: 40px !important;
}

.card-image {
  height: 200px;
}

.card-image img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.hero {
  height: calc(100vh - 64px);
}

#hero-video {
  width: 100%; /* Could also use width: 100%; */
  height: 100vh;
  object-fit: cover;
  position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
  left: 0px;
  top: 0px;
  z-index: -1;
}

section {
  background-color: white;
}

.hero-content {
  position: relative;
  top: 20vh;
}

.hero-content h1,
.hero-content h3 {
  line-height: 1.5;
  margin: 0 auto;
}

.today-link {
  position: relative;
  top: 30vh;
}

ul {
  margin: 0;
}

.pick-your-style {
  margin: 0;
  padding: 0 !important;
}

.pick-your-style {
  height: calc(100vh - 64px);
}

.pick-your-style h1 {
  position: relative;
  top: 33%;
}

.events-button {
  position: relative;
  top: 60vh;
}

.btn {
  margin: 10px;
}

.card-reveal {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#salsa-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../images/adrian-y-anita-1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bachata-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../images/ataca-y-la-alemana-1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#kizomba-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../images/lokito-y-oksana-1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-span {
  padding: 0 50px 0 25px !important;
}

#event_image {
  display: none;
}

@media only screen and (max-width: 450px) {
  .brand-logo {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 375px) {
  .brand-logo {
    font-size: 20px !important;
  }
}
