.row {
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.brand-logo,
.hero-title {
  font-family: "Indie Flower", cursive;
}

.brand-logo {
  font-size: 35px !important;
  height: 64px !important;
  margin: 0 auto;
}

.brand-logo-image {
  height: 64px;
  width: auto;
  margin: 0 10px;
}

#map {
  height: 400px;
  width: 100%
}

.contact-form input, .contact-form textarea {
  color: white
}

.contact-form button {
  width: 50%;
  margin: 0px 0px 15px 0px
}

.hero-title {
  font-size: 100px;
  line-height: 60px;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #924abee7
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #6a1b9a
}

.sidenav {
  width: 50vw;
}

.sidenav-icon {
  margin: 0 !important;
  margin-right: 5px !important;
}

.sidenav li a {
  padding: 0;
  padding-left: 15px;
}

.sidenav-logo {
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.btn-large {
  margin: 10px;
  width: 80%;
}

.alert-error {
  padding: 8px;
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin: 5px auto;
}

.card {
  height: 520px;
}

.smallcard {
  height: 100%;
}

.card i {
  line-height: 40px !important;
}

.card-image {
  height: 200px;
}

.card-image img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.smallcard-image img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 0 24px 24px 24px !important;
}

.hero,
.pick-your-style {
  height: calc(100vh - 64px);
}

#hero-video {
  width: 100%; /* Could also use width: 100%; */
  height: 100vh;
  object-fit: cover;
  position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
  left: 0px;
  top: 0px;
  z-index: -1;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.small-profile-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

section {
  background-color: white;
}

.hero-content {
  position: relative;
  top: 20vh;
}

.hero-content h1,
.hero-content h3 {
  line-height: 1.5;
  margin: 0 auto;
}

.today-link {
  position: relative;
  top: 30vh;
}

ul {
  margin: 0;
}

.pick-your-style {
  margin: 0;
  padding: 0 !important;
}

.pick-your-style h1 {
  position: relative;
  top: 33%;
}

.events-button {
  position: relative;
  top: 60vh;
}

.btn {
  margin: 10px;
}

.card-reveal {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 12px !important
}

#salsa-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://dance-your-way-event-images.s3.eu-central-1.amazonaws.com/adrian-y-anita-1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bachata-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://dance-your-way-event-images.s3.eu-central-1.amazonaws.com/ataca-y-la-alemana-1-snipped.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#kizomba-picker {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://dance-your-way-event-images.s3.eu-central-1.amazonaws.com/lokito-y-oksana-1-snipped.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-span {
  padding: 0 50px 0 25px !important;
}

.noshow {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hero,
  .pick-your-style {
    height: calc(100vh - 56px);
    position: relative;
    top: -180px
  }

  .hero-title {
    margin-bottom: 50px
  }

  .today-link {
    top: 20vh;
  }
}

@media only screen and (max-width: 450px) {
  .brand-logo {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 375px) {
  .brand-logo {
    font-size: 20px !important;
  }
}
