{% extends 'base.html' %} {% block content %}
<div class="row center container">
  <h3>Add Event</h3>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m4 l4">
        <input value="" id="username" type="text" class="validate" />
        <label class="active" for="username">Username</label>
      </div>
      <div class="input-field col s12 m4 l4">
        <input value="" id="event_name" type="text" class="validate" />
        <label class="active" for="event_name">Event Name</label>
      </div>
      <div class="input-field col s12 m4 l4">
        <input value="" id="address" type="text" class="validate" />
        <label class="active" for="address">Event Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m8">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Event Description</label>
      </div>
      <div class="input-field col s12 m4">
        <input value="" id="event_link" type="text" class="validate" />
        <label class="active" for="event_link">Event Social Link</label>
      </div>
    </div>
    <h5>Dance Styles</h5>
    <br />
    <div class="row">
      <div class="col s4">
        <label>
          <input type="checkbox" />
          <span class="checkbox-span">Salsa</span>
        </label>
      </div>
      <div class="col s4">
        <label>
          <input type="checkbox" />
          <span class="checkbox-span">Bachata</span>
        </label>
      </div>
      <div class="col s4">
        <label>
          <input type="checkbox" />
          <span class="checkbox-span">Kizomba</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="input-field col s12">
          <select multiple>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          <label>Weekday</label>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <label class="active" for="time"
          >Time<input type="text" id="time" class="timepicker"
        /></label>
      </div>
      <div class="input-field col s12 l4">
        <input value="" id="price" type="text" class="validate" />
        <label class="active" for="price">Ticket Prices</label>
      </div>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>Event Image</span>
        <input type="file" />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
