{% extends 'base.html' %} {% block content %}
<div class="row center container">
  <h3>Edit Your Event</h3>
  <form
    action="{{url_for('update_event', event_id=event._id)}}"
    method="POST"
    class="col s12"
    id="add-event"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="noshow">
        <input
          value="{{ user.username }}"
          id="username"
          name="username"
          type="text"
          class="validate"
        />
      </div>
      <div class="input-field col s12 m4 l4">
        <input
          value="{{event.event_name}}"
          id="event_name"
          name="event_name"
          type="text"
          class="validate"
        />
        <label class="active" for="event_name">Event Name</label>
      </div>
      <div class="input-field col s12 m4 l4">
        <input
          value="{{event.address}}"
          id="address"
          name="address"
          type="text"
          class="validate"
        />
        <label class="active" for="address">Event Address</label>
      </div>
      <div class="input-field col s12 m4 l4">
        <input
          value="{{event.event_link}}"
          id="event_link"
          name="event_link"
          type="text"
          class="validate"
        />
        <label class="active" for="event_link">Event Social Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="event_description"
          name="event_description"
          class="materialize-textarea validate"
        >
{{event.event_description}}</textarea
        >
        <label class="active" for="event_description">Event Description</label>
      </div>
    </div>
    <h5>Dance Styles</h5>
    <br />
    <div class="row">
      <div class="col s4 switch">
        <label>
          {% if event.salsa == 'on' %}
          <input type="checkbox" name="salsa" id="salsa" checked />
          <span class="lever"></span>
          Salsa {% else %}
          <input type="checkbox" name="salsa" id="salsa" />
          <span class="lever"></span>
          Salsa {% endif %}
        </label>
      </div>
      <div class="col s4 switch">
        <label>
          {% if event.bachata == 'on' %}
          <input type="checkbox" name="bachata" id="bachata" checked />
          <span class="lever"></span>
          Bachata {% else %}
          <input type="checkbox" name="bachata" id="bachata" />
          <span class="lever"></span>
          Bachata {% endif %}
        </label>
      </div>
      <div class="col s4 switch">
        <label>
          {% if event.kizomba == 'on' %}
          <input type="checkbox" name="kizomba" id="kizomba" checked />
          <span class="lever"></span>
          Kizomba {% else %}
          <input type="checkbox" name="kizomba" id="kizomba" />
          <span class="lever"></span>
          Kizomba {% endif %}
        </label>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="input-field col s12">
          <select name="weekday" id="weekday">
            <option value="{{event.weekday}}">{{event.weekday}}</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          <label>Weekday</label>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <label class="active" for="time">Time</label
        ><input type="text" name="time" id="time" class="timepicker validate" />
      </div>
      <div class="input-field col s12 l4">
        <textarea id="price" name="price" class="materialize-textarea validate">
{{event.price}}</textarea
        >
        <label class="active" for="price">Ticket Prices</label>
      </div>
    </div>
    <div class="file-field input-field">
      <div class="btn purple darken-3">
        <span>Event Image</span>
        <input type="file" name="event_image_s3" id="event_image_s3" />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" id="s3-check" />
      </div>
    </div>
    <div class="noshow">
      <input
        value="{{event.event_image}}"
        id="event_image"
        name="event_image"
        type="text"
        class="validate"
      />
    </div>
    <div class="noshow">
      Checker
      <input
        type="text"
        name="image-check"
        id="image-check"
        value="no change"
      />
    </div>
    <div class="noshow">
      <input value="{{event.time}}" id="jquery-time" />
    </div>
    <button class="btn waves-effect waves-light purple darken-3" type="submit">
      Edit Your Event
      <i class="material-icons right">playlist_add</i>
    </button>
  </form>
</div>
{% endblock %}
