<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance Your Way | Events</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

  {% for event in events %}
    {{event.event_name}}
    {{event.weekday}}
    {{event.time}}
    {{event.price}}
    {{event.salsa}}
    {{event.bachata}}
    {{event.kizomba}}
    {{event.address}}
    {{event.longlat}}
    {{event.event_description}}
  {% endfor %}

{% endblock %}
</body>
</html>