{% extends 'base.html' %} {% block content %}
<div class="hero">
  <div class="hero-content center white-text">
    <h1>Dance Your Way</h1>
    <h3>In Association with GUSTO</h3>
    <br />
    <div class="row center container">
      <div class="col s12 m6">
        <a
          href="{{url_for('add_event')}}"
          class="btn-large waves-effect waves-light waves-ripple"
        >
          Add Your Event
        </a>
      </div>
      <div class="col s12 m6">
        <a
          href="{{url_for('get_events')}}"
          class="btn-large waves-effect waves-light waves-ripple"
        >
          Find Events
        </a>
      </div>
    </div>
  </div>
  <div class="center today-link">
    <a href="#today" class="btn">
      What's On Today <br />
      <i class="large material-icons">arrow_downward</i>
    </a>
  </div>
</div>
<h1 id="today" class="center section scrollspy">Today's Events</h1>
<div class="container">
  <div class="row">
    {% for event in events %}
    <div class="col s6 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="{{event.event_image}}"
            alt="{{event.event_name}} event image"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h4>{{event.event_name}}</h4>
            <strong>{{event.weekday}}:</strong> {{event.time}}
            <br />
            <strong>
              Dance Styles:
            </strong>
            <ul>
              {% if event.salsa == true %}
              <li>Salsa</li>
              {% else %} {% endif %} {% if event.bachata == true %}
              <li>Bachata</li>
              {% else %} {% endif %} {% if event.kizomba == true %}
              <li>Kizomba</li>
              {% else %} {% endif %}
            </ul>
            <a class="btn-floating halfway-fab waves-effect waves-light red"
              ><i class="material-icons right">add</i></a
            ></span
          >
          <p>
            <a href="{{event.event_link}}" target="_blank">See event</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{event.event_name}}<i class="material-icons right">close</i></span
          >
          <p>
            {{event.event_description}}
          </p>
          <p>
            {{event.price}}
          </p>
          <p>
            {{event.address}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
